<launch>

	<node pkg="kinova_glove_control" type="arm_pos_node" name="arm_pos_node" 
output="screen"/>

  <node pkg="kinova_glove_control" type="calibration_node" name="calibration_node" 
output="screen"/>

  <node pkg="kinova_glove_control" type="finger_calibration_node" name="finger_calibration_node" 
output="screen"/> 

</launch>